.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 15px;
}

.item:hover {
  background-color: #f1f1f1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.text {
  font-size: 16px;
  color: #333333;
  flex-grow: 1;
}

.button {
  padding: 10px 15px;
  font-size: 14px;

  color: #ffffff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #c82333;
}
